In [1]:
import numpy as np 
import pandas as pd 
import os
print(os.listdir("../test/input"))
import matplotlib.pyplot as plt
import seaborn as sns

['BlackFriday.csv', 'BlackFriday_modified.csv', 'home_data.csv']

In [2]:
dataset=pd.read_csv('../test/input/BlackFriday_modified.csv')

X=dataset[['Gender','Age','Occupation','City_Category','Stay_In_Current_City_Years','Marital_Status','Product_Category_1','Product_Category_2','Product_Category_3']]
Y=dataset['Purchase']
dataset.head()

,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,0,0,10,0,2.0,0,3,0.0,0.0,8370
1,0,0,10,0,2.0,0,1,6.0,14.0,15200
2,0,0,10,0,2.0,0,12,0.0,0.0,1422
3,0,0,10,0,2.0,0,12,14.0,0.0,1057
4,1,6,16,2,4.0,0,8,0.0,0.0,7969

In [3]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2)

In [4]:
from sklearn.linear_model import LinearRegression
lm=LinearRegression()
lm.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [5]:
Y_pred = lm.predict(X_test)
print(Y_pred)

[ 8139.10292607  6638.06846388  8028.02684511 ...  8614.27321694
  8696.58618918 10595.630156  ]

In [6]:
print(lm.coef_)

[ 483.29029425  102.29214807    6.61769857  333.84152974   12.07422279
  -48.81686508 -317.51867435    8.36829536  147.42646194]

In [7]:
print(lm.intercept_)

9362.953214090698

In [8]:
from sklearn.metrics import r2_score
r2_score(Y_test,Y_pred)

0.13736745382514792

In [9]:
from sklearn.metrics import mean_squared_error
mean_squared_error(Y_test,Y_pred)

21597366.40836994